.Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  flex: 1;
}

.RegisterContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(255, 255, 255);
  height: 60%;
  width: 50%;
  min-height: 400px;
  min-width: 400px; 
  margin-top: 5%;
  margin-bottom: 5%;
}

.form-register{
  width: 80%
}

.title-text-register {
  font-family: "PT Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
}

.desc-text-register {
  font-family: "PT Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight:lighter;
}

.forget-password-text-register {
  font-family: "PT Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: lighter;
}

.input-text-register {
  font-family: "PT Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: lighter;
  margin-top: 4%;
}

.red-text{
  color: rgb(160, 0, 0);
}

.back-home-link{
  margin-top: 5%;
}

.button-register {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-profile-register {
  height: 180px;
  width: 100%;
  background-size: auto 180px;
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
}

.footer-profile-register {
  width: 100%;
  height: 110px;
  background-size: auto 180px;
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.wave {
  transform: rotate(180deg);
}
.wave-overlap {
  margin-top: -160px;
}
.wave-overlap2 {
  margin-top: -160px;
}
.wave-overlap3 {
  margin-top: -140px;
}
.wave-overlap4 {
  margin-top: -140px;
}
