# VS Code config
.vscode/

# Python cache files
**/**.pyc

#Python virtual environment
**/fastapi-env

# Resume environment
resume_api/env/
env/

# Node modules
node_modules
client/node_modules
node_modules
profile_api/node_modules

# Lock files
# package-lock.json
*.lock

# Log files
*.log

.idea

# Config files
config/*.env
resume_parser/config/*.env
config/*.json
**.env
**/s3config.json
