# VS Code config
.vscode/

# Python cache files
**/**.pyc

#Python virtual environment
**/fastapi-env

# Resume environment
resumeapi/env/
resumeapi/resumeapi/
resume_score/resume_score
env/

# Node modules
node_modules
client/node_modules
node_modules
profile_api/node_modules

# Lock files
# package-lock.json
*.lock

# Log files
*.log

.idea

# Config files
config/*.env
resumeapi/config/*.env
resumeapi/companies_sorted.csv
config/*.json
**.env
**/s3config.json
