[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
jsonify = "*"
flask-restful = "*"
requests = "*"
flask-limiter = "*"
python-dotenv = "*"
dnspython = "*"
pyspark = "*"
pandas = "*"
nltk = "*"
spacy = "*"
docx2txt = "*"
pdfminer = "*"

[dev-packages]

[requires]
python_version = "3.7"